body{
    font-family: Times New Roman;
    background:#edc0c0e9;
}
.container{
    width:400px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:8px;
    border:1px solid gray;
}
h2{
    text-align:center;
    color:rgb(243, 0, 0);
}
label{
    display:block;
    margin-top:10px;
}
input,
textarea,
select{
    width:100%;
    padding:8px;
    margin-top:5px;
}
button{
    width:100%;
    padding:10px;
    background:rgb(255, 0, 0);
    color:white;
    border:none;
}
button:hover{
    background:rgb(245, 101, 93);
}
#output{
    margin-top:15px;
    padding:10px;
    background:#e1a5a5;
}